@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #121212;
  font-family: "Silka";
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: black;
}

.border-gradient {
  /* position: absolute; */
  border: 1px solid;

  border-image: linear-gradient(to left, #2a2a2a, #777, #2a2a2a);
  /* border-image: linear-gradient(to bottom, #777, #2a2a2a, #777); */

  border-image-slice: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrllcomp {
  overflow-y: auto; /* or overflow-y: scroll; */
  direction: rtl;
}

/* Style the scrollbar */
.scrllcomp::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  border-radius: 10px; /* Rounded corners */
}

/* Track (the background of the scrollbar) */
.scrllcomp::-webkit-scrollbar-track {
  background: black; /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

/* Handle (the draggable part of the scrollbar) */
.scrllcomp::-webkit-scrollbar-thumb {
  background: #939393; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
.scrllcomp::-webkit-scrollbar-thumb:hover {
  background: darkgray; /* Color of the scrollbar handle on hover */
}

.herobar {
  background: linear-gradient(
    92.29deg,
    rgba(255, 255, 255, 0.15) 10.83%,
    rgba(153, 153, 153, 0.15) 111.96%
  );
  border: 1px solid;
  border-radius: 54px;
  border-image-source: linear-gradient(
    95.28deg,
    rgba(198, 198, 198, 0.2) -18.64%,
    rgba(49, 49, 49, 0.002) 149.39%
  );
}

.active-tab {
  background-color: lightblue;
}

.char {
  overflow: hidden;
  margin-right: 5px;
}

@media only screen and (max-width: 800px) {
  .char {
    overflow: hidden;
    margin-right: 5px;
  }
}

.threePillars {
  background: linear-gradient(169.26deg, #1c1c1c -33.69%, #0e0e0e 164.56%);
}

/* loading screen */
.loading-text span {
  display: inline-block;
  font-size: inherit;
  line-height: 1;
  text-shadow: 0 0 0 #ececec; /* Initial border effect */
  transition: text-shadow 0.5s ease, color 0.5s ease;
}
